Repository guilhermelMoraes/amora: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint, yarn lint:css

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md,json}": ["yarn format", "yarn lint"],
  "src/**/*.css": "yarn lint:css"
}

chore: linting files
  src/App.tsx
  src/setupTests.ts
Due: yarn format, yarn lint

chore: 1. change favicon;
  .stylelintrc.json
  package.json
  public/favicon.ico
  src/App.tsx
  src/common/hooks/use-title.tsx
  src/common/router.tsx
  src/index.css
  src/index.tsx
  src/sign-up/sign-up.css
  src/sign-up/sign-up.page.tsx
  yarn.lock
Due: yarn format, yarn lint, yarn lint:css

feat: add material ui lib
  package.json
  src/index.tsx
  yarn.lock
Due: yarn format, yarn lint

chore: rename sign-up page to account page;
  src/account/account.css
  src/account/account.page.tsx
  src/account/sign-up/sign-up.component.tsx
  src/common/components/tabs/tabs.tsx
  src/common/router.tsx
  src/sign-up/sign-up.page.tsx
Due: yarn format, yarn lint, yarn lint:css

chore(tabs): add keys to lists
  src/common/components/tabs/tabs.tsx
Due: yarn format, yarn lint

feat: add simple sign up form to accounts page
  package.json
  src/account/sign-up/sign-up.component.tsx
  yarn.lock
Due: yarn format, yarn lint

feat: completed sign up component
  src/account/sign-up/sign-up.component.tsx
  src/account/sign-up/sign-up.dto.ts
Due: yarn format, yarn lint

style: translate copy to pt-br, changing selector names
  src/account/account.css
  src/account/account.page.tsx
Due: yarn format, yarn lint, yarn lint:css

style: move css declarations to index.css
  src/common/components/tabs/tabs.tsx
  src/index.css
  src/index.tsx
Due: yarn format, yarn lint, yarn lint:css

chore: update set of eslint rules
  .eslintrc.json
Due: none

chore: uploading all changes
  .eslintrc.json
  .gitignore
  package.json
  src/account/account.css
  src/account/account.page.tsx
  src/account/login/login.component.tsx
  src/account/sign-up/sign-up.component.tsx
  src/common/auth/firebase/firebase.config.ts
  src/common/hooks/use-http.tsx
  src/common/router.tsx
  src/error/error.css
  src/error/error.page.tsx
  src/index.css
  yarn.lock
Due: yarn format, yarn lint, yarn lint:css

chore: uploading all changes
  .eslintrc.json
  package.json
  src/account/account.css
  src/account/account.page.tsx
  src/account/login/login.component.tsx
  src/account/login/login.dto.ts
  src/account/sign-up/sign-up.component.tsx
  src/account/sign-up/sign-up.dto.ts
  src/common/auth/firebase/firebase.config.ts
  src/common/auth/user.ts
  src/common/components/notification/notification.css
  src/common/components/notification/notification.tsx
  src/common/components/tabs/tabs.tsx
  src/common/helpers/common-input-props.ts
  src/common/hooks/use-http.tsx
  src/common/hooks/use-notification.tsx
  src/index.css
  src/index.tsx
  src/main.tsx
  yarn.lock
Due: yarn format, yarn lint, yarn lint:css

chore: uploading all changes
  package.json
  public/index.html
  src/account/account.page.tsx
  src/account/login/login.dto.ts
  src/account/sign-up/sign-up.dto.ts
  src/common/auth/auth.ts
  src/common/auth/firebase/firebase.config.ts
  src/common/auth/user.ts
  src/common/components/navbar/navbar.tsx
  src/common/components/title/amora.png
  src/common/components/title/title.css
  src/common/components/title/title.tsx
  src/common/hooks/use-http.tsx
  src/common/router.tsx
  src/common/styles/theme.ts
  src/index.css
  src/index.tsx
  src/main.tsx
  src/modules/account/account.css
  src/modules/account/account.page.tsx
  src/modules/account/login/login.dto.ts
  src/modules/account/login/login.tsx
  src/modules/account/sign-up/sign-up.dto.ts
  src/modules/account/sign-up/sign-up.tsx
  src/modules/dashboard/dashboard.page.tsx
  src/modules/error/error.css
  src/modules/error/error.page.tsx
  yarn.lock
Due: yarn format, yarn lint, yarn lint:css

chore: uploading all changes
  src/common/auth/auth.ts
  src/common/auth/private-route.ts
  src/common/components/navbar/navbar.tsx
  src/common/components/notification/notification.tsx
  src/common/hooks/use-http.tsx
  src/common/router.tsx
  src/common/styles/index.css
  src/index.tsx
  src/main.tsx
  src/modules/account/account.page.tsx
  src/modules/account/account.route.tsx
  src/modules/account/login/login.tsx
  src/modules/account/sign-up/sign-up.tsx
  src/modules/dashboard/dashboard.css
  src/modules/dashboard/dashboard.page.tsx
  src/modules/dashboard/dashboard.route.tsx
  src/modules/error/error.css
  src/modules/error/error.page.tsx
Due: yarn format, yarn lint, yarn lint:css

refactor: rename modules
  src/common/auth/auth.ts
  src/common/router.tsx
  src/modules/account/login/login.dto.ts
  src/modules/account/sign-up/sign-up.dto.ts
  src/modules/auth/account.css
  src/modules/auth/auth.page.tsx
  src/modules/auth/auth.route.tsx
  src/modules/auth/components/login/login.dto.ts
  src/modules/auth/components/login/login.tsx
  src/modules/auth/components/sign-up/sign-up.dto.ts
  src/modules/auth/components/sign-up/sign-up.tsx
  src/modules/auth/firebase/firebase.config.ts
  src/modules/auth/services/auth-status.ts
  src/modules/auth/services/logout.ts
  src/modules/auth/services/private-route.ts
  src/modules/auth/user.ts
  src/modules/dashboard/dashboard.page.tsx
  src/modules/dashboard/dashboard.route.tsx
  src/modules/dashboard/navbar/navbar.tsx
Due: yarn format, yarn lint, yarn lint:css

style: refactor css selector from 'account' to 'auth'
  src/modules/auth/auth.css
  src/modules/auth/auth.page.tsx
Due: yarn format, yarn lint, yarn lint:css

feat: add 1st iteration of reset password
  public/index.html
  src/common/components/tabs/tabs.tsx
  src/common/components/title/title.tsx
  src/common/styles/index.css
  src/modules/auth/auth.css
  src/modules/auth/auth.page.tsx
  src/modules/auth/auth.route.tsx
  src/modules/auth/components/login/login.tsx
  src/modules/auth/components/reset-password/reset-password.tsx
  src/modules/auth/components/sign-up/sign-up.tsx
  src/modules/auth/infrastructure/firebase/firebase.config.ts
  src/modules/auth/services/auth-status.ts
  src/modules/auth/services/logout.ts
Due: yarn format, yarn lint, yarn lint:css

feat: add password input component
  src/common/components/password-input/password-input.tsx
  src/modules/auth/components/login/login.tsx
  src/modules/auth/components/reset-password/reset-password.tsx
  src/modules/auth/components/sign-up/sign-up.tsx
Due: yarn format, yarn lint

chore: updating common input props
  src/common/helpers/common-input-props.ts
Due: yarn format, yarn lint
